@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CS4790IA1 First ASP.NET CRUD DB Hybrid</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Courses Link</h2>
        <p>
            @Html.ActionLink("Click Me", "Index", "Courses")
        </p>
        <p>
            Take a look at default ASP.NET styling!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Sections Link</h2>
        <p>
            @Html.ActionLink("Click Me", "Index", "Sections")
        </p>
        <p>
            Enjoy Microsoft Brand!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Code and DB Hybrid With No edmx files</h2>
        <p>This Method of attaching and  accessing your db gives you control over your data</p>
        <p>Have Fun</p>
    </div>
</div>